
.back-link {
  display: block;
  padding: 4px 8px;
  margin: 32px 135px 0 auto;
  border: 1px solid;
  border-radius: 8px;
  width: 60px;
}
.back-link:hover::before {
  opacity: 1;
  animation-play-state: running;
}
